// Fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&display=swap');

$font-family-greatvibes: 'Great Vibes', cursive;
$font-family-playfair: 'Playfair Display', serif;

// Layout
$gap-small: 1em;
$gap-large: 2em;
$button-padding-vertical: 10px;
$button-padding-horizontal: 30px;

// Colours
$overlay-colour: rgba(255, 251, 242, 0.1);

