#root {
    padding: $gap-large;
}

body {
    background: var(--background-body);
    font-family: $font-family-playfair;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-greatvibes;
}

button {
    padding: $button-padding-vertical $button-padding-horizontal;
}